@font-face {
    font-family: 'Omori';
    src: url('assets/OMORI_GAME2.ttf') format('truetype')
  }

body{
    background-color: #141414;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;  /* 100% of the viewport height */
    overflow: hidden;
    margin: 0;
    align-items: center;
}

#moonlight {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sound-control {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

#avi-container {
    position: fixed;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 2;
    margin-bottom: 10%;
}

#avi {
    animation: aviHover 2s ease-in-out infinite;
}

#textbox {
    position: fixed;
    width: 400px;
    height: 100px;
    margin-top: 12.5%;
    padding: 10px;
    padding-left: 30px;
    padding-top: 25px;
    border: 2px solid white;
    background-color: #141414;
    color: white;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 2;
    font-family: 'Omori', monospace;
    font-size: 1.75em;
}

#textbox:hover {
    cursor: pointer;
}

#textbox #marker {
    position: absolute;
    right: 20px;
    bottom: 20px;
    animation: hoverEffect 0.9s ease-in-out infinite, appear 0.001s linear 25s forwards;
    visibility: hidden;
}

@keyframes aviHover {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    }

@keyframes hoverEffect {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    }

@keyframes appear {
    to {
      visibility: visible;
    }
  }

.animate__animated.animate__fadeInUp {
    --animate-duration: 1.15s;
  }

.animate__animated.animate__fadeOutDown {
    --animate-duration: 1.15s;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}