body{
    background-color: #FFFFF6;
    color: #3F300B;
    padding: 0;
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
    height: 100vh;  /* 100% of the viewport height */
    overflow: auto;
    font-size: 97.5%;
}

.intro {
    position:relative;
    width: 100%; /* Set the width of the div */
    max-width: 480px;
    padding: 5px; /* Add some padding */
    word-wrap: break-word;
    z-index: 1;
}

.frog-gif {
    width: 100%;
    max-width: 75px;
    height: auto;
}

p + ul {
    margin-top: -10px;
}

#cloud-container {
    opacity: 50%;
    width: 100%;
    height: auto;
    margin-top: 50px;
    position: fixed;
    z-index: -1;
}

#clouds {
    width: 200%;
    position: absolute;
    animation: scroll-animation 60s linear infinite;
}

@keyframes scroll-animation {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@media screen and (min-width: 2400px) {
    #cloud-container {
        width: 75%;
        margin-top: 100px;
    }
    
    #clouds {
        width: 150%;
    }
}

@media (max-width: 820px) {
    body {
        overflow: scroll;
        height: 100%;
    }

    #cloud-container {
        width: 200%;
        margin-top: 100px;
    }
    
    #clouds {
        width: 150%;
    }

}

@media (max-width: 480px) {
    body {
        overflow: scroll;
        height:100%;
    }
    #cloud-container {
        width: 200%;
        margin-top: 100px;
    }
    
    #clouds {
        width: 250%;
    }
  }